<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxsoong.project.androidacademy">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lesson1Activity"
            android:label="@string/lesson1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedActivity"
            android:label="@string/getting_started"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateProjectActivity"
            android:label="@string/title_activity_create_project"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lesson2Activity"
            android:label="@string/lesson2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidEmulatorActivity"
            android:label="@string/setting_up_android_emulator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidManifestActivity"
            android:label="@string/android_manifest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidTermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/linear_layout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WidgetsActivity"
            android:label="@string/widgets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GettingStartedTaskActivity"
            android:label="@string/task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LayoutIntroduction"
            android:label="@string/intro_layouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinearLayoutTryMeActivity"
            android:label="@string/linear_layout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lesson1TaskActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/task"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskAnswerActivity"
            android:label="@string/answers"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RelativeLayoutTryMeActivity"
            android:label="Relative Layout"
            android:screenOrientation="portrait"/>
        <activity android:name=".LessonInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomTranslucent"/>
    </application>

</manifest>